affinegap==1.11
agate==1.6.2
agate-dbf==0.2.2
agate-excel==0.2.3
agate-sql==0.5.6
aiobotocore==1.4.1
aiodns==3.0.0
aiofiles==0.6.0
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aiohttp-retry==2.4.6
aiohttp-socks==0.6.0
aioitertools==0.8.0
aioredis==1.3.1
appdirs==1.4.4
astroid==2.6.6
async-timeout==3.0.1
asyncssh==2.8.1
atomicwrites==1.4.0
atpublic==3.0.1
attrs==21.4.0
autopep8==1.5.7
Babel==2.9.0
beautifulsoup4
blessings==1.7
brotlipy==0.7.0
browser-cookie3==0.13.0
BTrees==4.9.2
cachetools==4.2.1
categorical-distance==1.9
cchardet==2.1.7
certifi==2019.11.28
cffi==1.14.6
chardet==4.0.0
charset-normalizer
click==7.1.2
colorama==0.4.4
colorful==0.5.4
commonmark==0.9.1
configobj==5.0.6
cryptography
csvkit==1.0.5
dataclasses==0.6
datetime-distance==0.1.3
dbfread==2.0.7
debugpy==1.5.1
dedupe==2.0.8
dedupe-hcluster==0.3.8
dedupe-variable-datetime==0.1.5
dictdiffer==0.9.0
diskcache==5.4.0
distro==1.6.0
docopt==0.6.2
DoubleMetaphone==0.1
dpath==2.0.5
dulwich==0.20.32
dvc==2.9.3
elasticsearch==7.16.3
epc==0.0.5
et-xmlfile==1.0.1
fake-useragent==0.1.11
fastcluster==1.2.4
filelock==3.0.12
flake8==3.9.2
flatten-dict==0.4.2
flufl.lock==7.0
fsspec==2022.1.0
ftfy==6.0.3
funcy==1.17
future==0.18.2
gensim==4.0.1
geographiclib==1.52
geopy==2.2.0
GetOldTweets3==0.0.11
gitdb==4.0.9
GitPython==3.1.26
googleapis-common-protos==1.53.0
googletransx==2.4.2
gpustat==0.6.0
grandalf==0.6
greenlet==1.0.0
h11==0.12.0
h2==4.0.0
haversine==2.5.1
highered==0.2.1
hpack==4.0.0
hyperframe==6.0.1
idna
importlib-resources==5.4.0
iniconfig==1.1.1
isodate==0.6.0
isort==5.9.3
jedi==0.17.2
jmespath==0.10.0
joblib==1.1.0
kaggle==1.5.12
lazy-object-proxy==1.6.0
leather==0.3.3
Levenshtein-search==1.4.5
Logbook==1.5.3
lxml==4.6.4
mailchecker==4.1.11
matrix-nio==0.18.6
mccabe==0.6.1
msgpack==1.0.2
multidict==5.1.0
my-cookies==0.1.1
nanotime==0.5.2
networkx==2.6.3
nltk==3.6.7
numpy==1.22.1
nvidia-ml-py3==7.352.0
opencensus==0.7.12
opencensus-context==0.1.2
openpyxl==3.0.7
packaging==20.9
pandas==1.4.0
parsedatetime==2.6
parso==0.7.1
pathspec==0.9.0
pbkdf2==1.3
peewee==3.14.4
persistent==4.7.0
phonenumbers==8.12.42
Pillow==8.3.1
pluggy==1.0.0
ply==3.11
psutil==5.9.0
py==1.11.0
pyaes==1.6.1
pyasn1==0.4.8
pycares==4.1.2
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.4
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.3.1
pygit2==1.7.2
Pygments==2.10.0
pygtrie==2.4.2
pyhacrf-datamade==0.2.5
PyLBFGS==0.2.0.13
pylint==2.9.6
pynvim==0.4.3
pyOpenSSL
pyparsing==2.4.7
pyquery==1.4.3
PySocks==1.7.1
pytest==6.2.5
pytest-mock==3.6.1
python-benedict==0.24.3
python-dateutil==2.8.1
python-fsutil==0.6.0
python-jsonrpc-server==0.4.0
python-lambda-local==0.1.12
python-language-server==0.36.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.2
python-magic==0.4.24
python-olm==3.1.3
python-slugify==4.0.1
python-socks==1.2.4
python-xlib==0.31
pytimeparse==1.1.8
pytz==2021.1
PyYAML==6.0
ray==1.2.0
readline==6.2.4.1
redis==3.5.3
regex==2022.1.18
requests
requests-oauthlib==1.3.0
retrying==1.3.3
RG==0.0.75
rich==11.1.0
rlr==2.4.5
rope==0.19.0
rsa==4.7.2
ruamel.yaml==0.17.20
ruamel.yaml.clib==0.2.6
s3-tree==0.1.0
s3fs==2021.8.1
schedule==1.1.0
scipy==1.6.3
scmrepo==0.0.7
sexpdata==0.0.3
sgmllib3k==1.0.0
shortuuid==1.0.8
shtab==1.5.3
simplecosine==1.2
six
smart-open==5.1.0
smmap==5.0.0
snowballstemmer==2.1.0
snscrape==0.4.3.20220106
soupsieve
tabulate==0.8.9
text-unidecode==1.3
textblob==0.17.1
toml==0.10.2
tqdm==4.62.2
tweepy==4.4.0
twint
typing-extensions==3.10.0.2
ueberzug==18.1.9
ujson==4.1.0
unpaddedbase64==2.1.0
urllib3
visidata==2.6.1
voluptuous==0.12.2
wcwidth==0.2.5
webcolors==1.11.1
wrapt==1.12.1
xdg-open-wsl==1.0.0
xdot==1.2
xmltodict==0.12.0
yapf==0.31.0
yarl==1.6.3
zc.lockfile==2.0
zipp==3.7.0
zope.index==5.1.0
